body, html {
    height: 100%;
    font-display: 'source sans Pro';

}
nav
{
  position: fixed;
  top:0px;
  width:100%;
  z-index: 0;
}
  .form-group a{
    color:palevioletred;
  }
  .bg-img >p
  {
    color:white;
  }
.bg-img h1{
  color:white;
}

 .bg-img
 {   
    background-image: url("../img/back.jpg");
    min-height: 380px;
    min-width: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; 
     }
 .form-group{
    position: absolute;
    top:0px;
    background-color: white;
    border-radius: 15px;
    margin-left:700px;
} 
 input[type=text], input[type=password] {
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color:white;
    outline: none;
  } 
  .btn {
    background-color:palevioletred;
    color: white;
    border: none;
    cursor: pointer;
    
    opacity: 0.9;
  }
  
  .btn:hover {
    opacity: 1;
  }



  .wrapper{
    width:70%;
  }
  @media(max-width:992px){
   .wrapper{
    width:100%;
  } 
  }
  .panel-heading {
    padding: 0;
    border:0;
  }
  .panel-title>a, .panel-title>a:active{
    display:block;
    padding:15px;
    color:#555;
    font-size:16px;
    font-weight:bold;
    text-transform:uppercase;
    letter-spacing:1px;
    word-spacing:3px;
    text-decoration:none;
  }
  .panel-heading  a:before {
     font-family: 'Glyphicons Halflings';
     content: "\e114";
     float: right;
     transition: all 0.5s;
  }
  .panel-heading.active a:before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
  } 




  footer {
    width: 100%;
    padding: 4rem 0 2rem;
    display: block;
    z-index: 0;

}

.col-md-06 {
    display: flex;
    width: 50%;
}
.download {
   display: block;
}

h6 {
    font-size: 20px;
}
.col-sm-02 ul{
    margin-top: 0;
    margin-bottom: 1rem;
    box-sizing: inherit;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    }
.col-sm-02 ul li{
    box-sizing: inherit;
    display: list-item;
    list-style-type: none;
    padding-bottom: 6px;

}


.col-sm-03 img {
 max-width: 30%;
}
.item p {
    color: black;
    opacity: .65;
}
.item a{
    text-decoration: none;
    color: black;
}
.item a:hover {
    color: pink;
    text-decoration: underline;
}
i {
    color: black;
    float: right;
    padding-right: 10px;
    height: 80px;

}
    
